<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conta SSH</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>
  <body>
		<section class="hero is-light is-bold">
	    <div class="hero-body">
            <div class="container">
                <h1 class="title">Conta SSH</h1>
            </div>
	    </div>
	  </section>
  	<section class="section">
		  <div class="container">
	  		<div class="content">
                {% if not usuario_ssh %}
                    <a class="button is-success is-large" href="{% url 'ssh_criar' %}">
                        Criar conta
                    </a>
                    
                {% elif estado_ssh == 'active' %}
                    <p>Servidor ligado. Siga as instruções seguintes para acessá-lo:</p>
                {% else %}
                    <a class="button is-success is-large" href="{% url 'ssh_iniciar' %}">
                        Ligar SSH
                    </a>
                {% endif %}
		  	</div>
		  </div>
	  </section>
	</body>
</html>
<html>
